html {
    background-image: url("/assets/images/backgroundphoto2.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
}

#root {
    background-image: linear-gradient(white, rgb(191, 210, 246))
}

footer {
    padding: 1%;
    background-color: bisque;
    font-weight: bold;
}

footer img {
    height: 30%;
    width: 70%;
}

#navbar {
    background-image: url("/assets/images/background\ image.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav-item {
    font-size: x-large;
    text-shadow: 1px 1px 2px black;
}

#bradh {
    font-weight: bold;
    font-family: monospace;
    color: bisque;
    text-shadow: 1px 1px 2px black;
    margin-bottom: -2%;
}

#iac {
    color: bisque;
    text-shadow: 1px 1px 2px black;
    font-size: xx-small;
}

#portfolio-page {
    display: flex;
    margin-top: 1%;
}

#gists {
    display: flex;
    margin-top: 1%;
}

#project-1 {
    display: flex;
    margin-bottom: 2%;
}

#project-2 {
    display: flex;
    margin-bottom: 2%;
}

#project-3 {
    display: flex;
    margin-bottom: 2%;
}

#project-4 {
    display: flex;
    margin-bottom: 2%;
}

#project-1 img {
    height: 30%;
    width: 70%;
}

#project-2 img {
    height: 30%;
    width: 70%;
}

#project-3 img {
    height: 30%;
    width: 70%;
}

#project-4 img {
    height: 30%;
    width: 70%;
}

#resume-points {
    margin-left: 2%;
    list-style: none;
}

#eac {
    margin-top: 3%;
}

#bio {
    margin-top: 3%;
}

#plac {
    margin-top: 3%;
}

#javascript {
    margin-top: 3%;
}

#css {
    margin-left: 5%;
}

#html {
    margin-left: 10%;
}

#mysql {
    margin-left: 15%;
}

#mongodb {
    margin-left: 20%;
}

#heroku {
    margin-left: 25%;
}

#mvc {
    margin-left: 30%;
}

#jquery {
    margin-left: 25%;
}

#bootstrap {
    margin-left: 20%;
}

#insomnia {
    margin-left: 15%;
}

#react {
    margin-left: 10%;
}

#mern {
    margin-left: 5%;
}

#submit-message {
    margin-top: 2%;
}

#name-input {
margin-top: 2%;
padding-right: 20%;
}

#email-input {
margin-top: 1%;
display: flex;
padding-right: 20%;
}

#message-input {
margin-top: 1%;
display: flex;
padding-right: 20%;
padding-bottom: 10%;
}

#submit-button {
    margin-top: 1%;
}
